.custom-header {
    background: rgba(55, 75, 111, 0.5);
}

#intro {
	padding-top: 155px !important;	
}

.typed-style {
	font-weight: bold;

}

.clock {
	background: #555;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

.form__form-clock {
	text-align: center; 
	margin-top: 45px;
}

#footer-p {
	text-align: center;
	color: azure !important;
}


.embedded-map {
	margin-top: 45px;
}